<!DOCTYPE html>

<html>

<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- jQuery Mobile CSS library -->
    <link rel="stylesheet" href="css/jmobile.min.css" />
    <link rel="stylesheet" href="css/quizMain.css" />
    <link rel="stylesheet" href="css/customTheme/hutyutyu.min.css" />

    <!-- JS libraries & scripts -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/jquery.mobile-1.4.5.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/moment.js"></script>
    <!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.js"></script>-->

    <!-- Include own library -->
    <script src="js/quizMain.js"></script>

</head>

<body ng-app="QuizApp" ng-controller='quizAppController'>

    <script type="text/javascript" src="js/app.js"></script>


    <div data-role="page" id="selectLanguage" data-title="Quiz Page" data-theme="a">
        <form>
            <div class="centerDiv" align='center'>
                <div class="ui-field-contain" style='text-align: center;'>
                    <select name="select-language" id="select-language" data-iconpos="right">
                        <option value="en">English</option>
                        <option value="hu">Magyar</option>
                        <option value="de">Deutsch</option>
                    </select>
                    <a onclick='pageChange("1");' class="ui-btn ui-btn-inline ui-corner-all">Quizz</a>
                </div>
            </div>
        </form>
    </div>

    <div data-role="page" id="quizPage" data-title="Quiz Page" data-theme="a">
        <div data-role="panel" id="quizMenuPanel">
            <ul data-role="listview" data-inset="true">
                <li><a onclick='pageChange("1-1");' id='menu-1'>Quiz 1</a></li>
                <li><a onclick='pageChange("1-2");' id='menu-2'>Quiz 2</a></li>
                <li><a onclick='pageChange("1-3");' id='menu-3'>Quiz 3</a></li>
                <li><a onclick='pageChange("2");'>Language</a></li>
            </ul>
        </div>
        <div data-role="header" id="pageone-headaer">
            <a href="#quizMenuPanel" class="ui-btn ui-btn-inline ui-corner-all ui-shadow ui-icon-bars ui-btn-icon-left ui-btn-icon-notext">Open Panel</a>
            <h2 ng-show='quizLoaded'>{{selectedQuizType}}</h2>
            <h2 ng-hide='quizLoaded'>&nbsp;</h2>

        </div>
        <div data-role="main" class="ui-content">
            <div id="quizMainList">
                <ul class="ui-listview ui-corner-all" data-role="listview" data-inset="true" style="white-space: normal !important;" id="quizListView">
                    <div ng-repeat='x in quizList'>
                        <li class="ui-li" data-theme="c" data-wrapperels="div" data-shadow="false" data-corners="false">
                            <div class="ui-btn-inner ui-li" style='padding-top:5px;padding-bottom:5px;'>
                                <h2 class="ui-li-heading" style='padding-left:15px;padding-right: 15px;white-space: normal !important;'>{{x.textQuestion}}</h2>
                                <div style='padding-right: 15px;padding-left:15px;white-space: normal !important;'>
                                    <fieldset data-role="controlgroup" id='controlgroup-radio-{{x.idQuestion}}' ng-hide='x.multiSelect'>
                                        <div class='ui-corner-all' ng-repeat='y in x.selectChoices'>
                                            <label for="radio-choice-{{x.idQuestion}}-{{y.idChoice}}">{{y.textChoice}}</label>
                                            <input name="radio-controlgroup-{{x.idQuestion}}" id="radio-choice-{{x.idQuestion}}-{{y.idChoice}}" value="{{x.idQuestion}}-{{y.idChoice}}" type="radio">
                                        </div>
                                    </fieldset>
                                    <fieldset data-role="controlgroup" id='controlgroup-checkbox-{{x.idQuestion}}' ng-show='x.multiSelect'>
                                        <div class='ui-corner-all' ng-repeat='y in x.selectChoices'>
                                            <label for="checkbox-choice-{{x.idQuestion}}-{{y.idChoice}}">{{y.textChoice}}</label>
                                            <input name="checkbox-controlgroup-{{x.idQuestion}}" id="checkbox-choice-{{x.idQuestion}}-{{y.idChoice}}" value="{{x.idQuestion}}-{{y.idChoice}}" type="checkbox">
                                        </div>
                                    </fieldset>
                                </div>
                            </div>

                            <div style='padding-right: 15px;padding-left:15px;white-space: normal !important;'>
                                <div style='border-style: solid;border-top: #ff0000;' ng-hide='{{{true: 1, false: 0}[$last]}}'>
                                </div>
                            </div>

                        </li>
                    </div>
                </ul>
                <div align="center" ng-show='quizLoaded'>
                    <a ng-click="evaluateResults();" class="ui-btn ui-icon-check ui-btn-icon-left ui-btn-inline ui-corner-all">Ok</a>
                </div>
                <div align="center" ng-hide='quizLoaded'>
                    <span> No quiz quetions please select different quiz type from the menu </span>
                </div>
            </div>
        </div>
    </div>


    <div data-role="page" id="resultPage" data-title="Quiz Page" data-theme="a">
        <div data-role="header" id="pageone-headaer">
            <h2>{{selectedQuizType}}</h2>
        </div>

        <div data-role="main" class="ui-content">
            <h2 style='text-align:right'> Total : {{precentageScore}} % </h2>
            <div id='quizResultContainer'>
                <ul class="ui-listview ui-corner-all" data-role="listview" data-inset="true" style="white-space: normal !important;" id="quizListView">
                    <div ng-repeat='x in resultQuizArray'>
                        <li class="ui-li" data-theme="c" data-wrapperels="div" data-shadow="false" data-corners="false">
                            <div class="ui-btn-inner ui-li" style='padding-top:5px;padding-bottom:5px;white-space: normal !important;'>
                                <h2 class="ui-li-heading" style='padding-left:15px;padding-right: 15px;white-space: normal !important;'>{{x.textQuestion}} <span style='font-size: 75%;font-style: italic;'>( {{x.reachedQuestionScore}} / {{x.maxQuestionScore}} )</span></h2>

                                <div style='padding-right: 15px;padding-left:15px;white-space: normal !important;'>
                                    <div class='ui-corner-all' ng-repeat='y in x.resultElement'>
                                        <div class="ui-btn ui-icon-check ui-btn-icon-left" ng-show='y.selectionType' style='white-space: normal !important;'>{{y.textResultAnswer}}</div>
                                        <div class="ui-btn ui-icon-delete ui-btn-icon-left" ng-hide='y.selectionType' style='white-space: normal !important;'>{{y.textResultAnswer}}</div>
                                    </div>
                                </div>
                            </div>

                            <div style='padding-right: 15px;padding-left:15px;white-space: normal !important;'>
                                <div style='border-style: solid;border-top: #ff0000;' ng-hide='{{{true: 1, false: 0}[$last]}}'>
                                </div>
                            </div>
                        </li>
                    </div>
                </ul>
            </div>
        </div>

        <div class="centerDiv" align='center'>
            <label for="eBadge">E - Badge</label>
            <input name="eBadge" id="eBadge" ng-model='eBadgeRequest' type="checkbox">
            <form ng-show="eBadgeRequest">
                <div class="ui-field-contain">
                    <label for="nameFull">Name:</label>
                    <input type="text" name="nameFull" id="nameFull" placeholder="Name ...">
                    <br/>
                    <br/>
                    <label for="email">E-mail:</label>
                    <input type="email" name="email" id="email" placeholder="E-mail ...">
                </div>
            </form>
            <a ng-click="sendInfo();" class="ui-btn ui-icon-navigation ui-btn-icon-left ui-btn-inline ui-corner-all">Done</a>
        </div>
    </div>

</body>

</html>
